@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  width: 700px;
  height: auto;

}

h4 {
  color: red;
}
.npmLogo {
  width: 50px;
}

.lettersNifty {}

.join {}

.search {}

.h1 {}

.text1 {}

.redBtn {
  background-color: rgb(207, 72, 72);
  color: white;
  padding: 10px 15px;
  width: 150px;
  border: none;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, .2)
}

.whiteBtn {
  background-color: white;
  padding: 10px 20px;
  width: 150px;
  border: none;
}

.section1 {
  background-color: rgb(243, 234, 234);
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(145, 141, 141);
}

.hexagon {
  width: 180px;
  height: auto;

}

.item {
  width: 25%;

}

.section2 {}

.lastBtn {}

header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 400px;
}

.navUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}