@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  background-color: red;
  width: 600px;
  height: auto;

}

.npmLogo {}

.join {}
.search {}
.h1 {}
.text1 {}
.red but {}
.white butn {}
.section1 {
  background-color: gray;
}
.hexagon{}
.section2{}
.last btn{}
header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 5px;
  margin-right: 1rem;
}